<link href="~/Content/css/layui.css" rel="stylesheet" />

<div id="show">
    <table class="layui-table">
        <colgroup>
            <col width="150">
            <col width="200">
            <col>
        </colgroup>
        <thead>
            <tr>
                <th>编号</th>
                <th>姓名</th>
                <th>密码</th>
                <th>年龄</th>
                <th>教龄</th>
                <th>性别</th>
                <th>电话</th>
                <th>邮箱</th>
                <th>任课类型</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.t_id</td>
                    <td>@item.t_name</td>
                    <td>@item.t_password</td>
                    <td>@item.t_age</td>
                    <td>@item.teachingAge</td>
                    <td>@item.sex</td>
                    <td>@item.t_Phone</td>
                    <td>@item.t_Email</td>
                    <td>@item.teacher_Type</td>
                    <td>
                        <button type="button" class="layui-btn layui-btn-danger">删除</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
<button id="btn" class="layui-btn layui-btn-lg layui-btn-normal">添加教师</button>

<script>
    layui.use('layer', function () {
        var layer = layui.layer;

        //layer.msg('hello');
        //弹出一个iframe层
        $('#btn').on('click', function () {
            layer.open({
                type: 2,
                title: '修改页面',
                maxmin: true,
                shadeClose: true, //点击遮罩关闭层
                area: ['1000px', '600px'],
                content: 'Admin/InsertTea'
            });
        });
        //弹出一个页面层
        //$('#btn').on('click', function () {
        //    layer.open({
        //        type: 1,
        //        area: ['1000px', '360px'],
        //        shadeClose: true, //点击遮罩关闭
        //        content: $("#div")
        //    });
        //});
    });
</script>

